<footer>
    <div class="f-info">
        <i class="fa-brands fa-facebook"><a href="https://www.facebook.com/profile.php?id=100059622362711"></a></i>
        <i class="fa-brands fa-instagram"><a href="https://www.instagram.com/rnh2vermaji/"></a></i>
        <i class="fa-brands fa-linkedin"><a href="https://www.linkedin.com/in/mr-aman-verma/"></a></i>
    </div>
    <div class="brand-name">&copy; NestNova Private Limited</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/tnc">T&C</a>
    </div>
</footer>